header.site-header .branding {
	background-color: #444;
	color: #eee;
}

header.site-header .branding h1 {
	font-size: 140%;
	margin: 0px;
	margin-top: 3px;
	margin-bottom: 3px;
}

header.site-header .branding h1 .version {
	font-size: 90%;
	color: #aaa;
}


#main {
	padding-top: 80px;
}

footer {
	margin-top: 20px;
	padding-top: 20px;
	border-top-style: solid;
	border-top-color: #333;
	border-top-width: 1px;
	color: #aaa;
}