.utskrift-data {

	margin-bottom: 100px;

	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #333;

	header {
		margin-bottom: 30px;
		position: relative;


		.print-logo {
			position: absolute;
			right: 0px;
			top: 0px;
			height: 100px;
		}

		/*h3 {
			overflow: auto;
			span {
				display: block;
				background: black;
				color: white;
				padding: 0.5em;
				float: left;
			}
		}*/
	}
}
