table.main {
	
	strong {
		
	}

	tr.unavaible {
		a {
			color: $color-unavaible;
		}
	}

	td {
		color: #bbb;
	}

	td.major {
		font-weight: bold;
		font-size: 110%;
	}

	td.minor {
		font-weight: normal;
		font-size: 70%;
	}
}