.utskrift-data {

	margin-bottom: 100px;

	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #333;

	header {
		margin-bottom: 30px;
		position: relative;

		.print-logo {
			position: absolute;
			right: 0px;
			top: 0px;
			height: 100px;
		}
	}
}